* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Kizilkaya";
    src: url("../fonts/Kizilkaya.ttf") format("TrueType");
}

@font-face {
    font-family: "against";
    src: url("../fonts/against.ttf") format("TrueType");
}

@font-face {
    font-family: "Kanetin";
    src: url("../fonts/Kanetin.otf") format("OpenType");
}

section {
    overflow: hidden;
}

.containerHeader {
    border-bottom: 0.1vw solid white;
}

.gradient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url("./assets/backgroundGradient.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-bottom: 0.1vw solid white;
    box-sizing: border-box;
}

.heroBanner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerBanner {
    font-family: "Kizilkaya";
    font-size: calc(5px + 0.7vw);
    max-height: 102px;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 84%;
}

.leftfooterBanner {
    display: flex;
    justify-content: left;
    align-items:center;
}

.leftfooterBanner > div {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    align-items: flex-start;
}

.leftfooterBanner > div img {
    margin-right: 5px;
    width: 1vw;
    height: auto;
}

.titleBanner {
    height: 100%;
    width: 100%;
    max-width: 84%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    color: #4F4F4F;
    font-family: "Kanetin";
    font-size: calc(3px + 2vw);
}

.text span {
    font-family: "Kizilkaya";
    font-size: calc(8px + 3vw);
}

.mainText {
    color: white;
    font-family: "against";
    font-size: calc(5px + 5vw);
}

.card {
    margin-right: 3vw;
}

.cardCalque {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cardContent {
    width: 17vw;
}

.cardButton {
    position: absolute;
    margin-bottom: 2vw;
    margin-right: 0.7vw;
    width: 12vw;
    cursor: pointer;
}

.categories {
    display: flex;
    justify-content: center;
    height: 100%;
}

.listCat {
    color: #4F4F4F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 84%;
    max-height: 102px;
    height: 16vh;
}

.listCatLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6vw;
}

.listCatLeft > p {
    border: 0.15vw solid #4F4F4F;
    border-radius: 100px;
    padding: 0.2vw 0.4vw;
    font-size: calc(1px + 0.8vw);
} 

.listCatRight {
    font-family: "Kizilkaya";
    font-size: calc(8px + 1vw);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.5vh;
}

.listCatRight .ligne {
    background: #4F4F4F;
    color: #4F4F4F;
    border: 0.1vh solid #4F4F4F;
    border-radius: 100px;
    height: 0.1vh;
    max-width: 245px;
    width: 100vw;
    margin: 0px 4% 0.7vh 4%;
}

.tuiles {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    border-bottom: 0.1vw solid white;
}

.projectsBanner {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}

.projectsBannerContent {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 84%;
    max-height: 494px;
    height: 50vh;
    background-image: url("./assets/projectBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.projectsBannerContent .button {
    position: absolute;
    bottom: 2vw;
    left: 2vw;
    cursor: pointer;
    width: 10vw;
    height: 10vw;
}

.projectsBannerContentText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.projectsBannerContentText p {
    min-width: 40vw;
    text-align: right;
    color: white;
    font-size: calc(8px + 3.8vw);
}

.projectsBannerContentText img {
    border-radius: 20px;
}

.dualTuilesFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dualTuiles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 84%;
    max-height: 494px;
    height: 50vh;
    gap: 4%;
}

.recent {
    background: url("./assets/recentBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 40%;
    align-items: center;
}

.recent .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 4% 0;
}

.recent .top p {
    border: 0.15vw solid black;
    border-radius: 100px;
    padding: 0.2vw 0.5vw;
    font-size: calc(1px + 0.8vw);
}

.recent .top .button {
    max-width: 58px;
    max-height: 58px;
    width: 2.4vw;
    height: 2.4vw;
    cursor: pointer;
}

.recent .banner {
    height: 40%;
    width: 90%;
}

.recent .bottom {
    display: flex;
    flex-direction: column;
    margin: 4% 8% 4% 8%;
    font-size: calc(1px + 0.9vw);
}

.recent .bottom .date {
    display: flex;
    flex: row;
    justify-content: space-between;
    border-bottom: 0.15vw solid black;
    padding-bottom: 2%;
    margin-bottom: 2%;
    font-size: calc(1px + 0.8vw);
}

.recent .bottom .date .dateText {
    font-family: 'Kizilkaya';
    font-size: calc(1px + 1.2vw);
    transform: translateY(10%);
}

.skils {
    border-radius: 20px;
    border: 0.15vw solid white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 6vh;
}

.skils .title {
    width: 85%;
    text-align: left;
    font-size: calc(1px + 2vw);
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    gap: 2vw;
}

.settings .circle {
    max-width: 198px;
    height: 20vh;
    width: auto;
}

.settingsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 3vh;
}

.settingsText .skilsImage {
    max-width: 650.43px;
    height: auto;
    width: 100%;
}

.settingsText span {
    font-family: "Kizilkaya";
}

.contactFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 84%;
    max-height: 494px;
    height: 50vh;
    background: url("./assets/contactBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.contactSize {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    height: 100%;
    width: 85%;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.link img {
    cursor: pointer;
    width: 6vw;
    max-width: 115px;
}

.linkTop {
    display: flex;
    gap: 5vw;
}

.linkBottom {
    display: flex;
    gap: 5vw;
}

.contact .text {
    max-width: 45%;
    color: white;
    font-family: 'Kizilkaya';
    text-align: right;
}

.contact .text .title {
    font-size: calc(1px + 5vw);
}

.contact .text .subtitle {
    font-size: calc(1px + 1.5vw);
}

.archiveFlex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.archives {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 84%;
    max-height: 494px;
    height: 50vh;
    border-radius: 20px;
    border: 0.15vw solid white;
    background: url("./assets/archivesBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.archiveContent {
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: center;
    margin: 2% 3%;
    font-family: 'Kizilkaya';
    font-size: calc(1px + 7.5vw);
}

.archiveContent img {
    width: 5vw;
    height: 5vw;
    margin-left: 6%;
    cursor: pointer;
}

@media (max-width: 480px) {
    .gradient {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: none;
        height: 100vh;
        border-bottom: 0.1vw solid white;
        box-sizing: border-box;
    }
    .titleBanner {
        height: 100%;
        width: 100%;
        max-width: 84%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 195px;
        padding-top: 49px;
    }
    .card {
        margin-right: 3vw;
        width: 100%;
    }
    .cardCalque {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transform: scale(3);
    }
    .text {
        color: #4F4F4F;
        font-family: "Kanetin";
        font-size: calc(1px + 6vw);
        background: url("./assets/backStatic.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 300px;
    }
    .mainText {
        color: white;
        font-family: "against";
        font-size: calc(5px + 12vw);
    }
    .footerBanner {
        display: none;
    }
    .listCatLeft > p {
        border: 0.15vw solid #4F4F4F;
        border-radius: 100px;
        padding: 0.2vw 0.4vw;
        font-size: calc(1px + 1.7vw);
    }
    .listCatRight .ligne {
        background: #4F4F4F;
        color: #4F4F4F;
        border: 0.1vh solid #4F4F4F;
        border-radius: 100px;
        height: 0.1vh;
        max-width: 30px;
        width: 100vw;
        margin: 0px 4% 0.7vh 4%;
    }
    .listCatRight {
        font-family: "Kizilkaya";
        font-size: calc(8px + 1.7vw);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 0.5vh;
    }
}